
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/"><i data-feather='home'></i><span class="menu-title text-truncate" data-i18n="Proxy">Thống kê</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/Users"><i data-feather="user"></i><span class="menu-title text-truncate" data-i18n="User">Quản lý khách hàng / Nhân viên</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/Orders"><i data-feather="dollar-sign"></i><span class="menu-title text-truncate" data-i18n="Invoice">Quản lý đơn hàng</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/Settings"><i data-feather='settings'></i><span class="menu-title text-truncate" data-i18n="Invoice">Cấu hình</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/GroupProducts"><i data-feather='grid'></i><span class="menu-title text-truncate" data-i18n="Pages">QL Nhóm sản phẩm</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/SourceBuys"><i data-feather="git-commit"></i><span class="menu-title text-truncate" data-i18n="Pages">QL Nguồn mua</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/SiteBuys"><i data-feather="star"></i><span class="menu-title text-truncate" data-i18n="Pages">QL Site mua</span></a>
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/StateOrders"><i data-feather="link"></i><span class="menu-title text-truncate" data-i18n="Pages">QL Trạng Thái Orders</span></a>
</li>
<li class=" navigation-header">
    <hr />
</li>
<li class=" nav-item">
    <a class="d-flex align-items-center" href="/Balances"><i data-feather="file-text"></i><span class="menu-title text-truncate" data-i18n="Pages">Danh sách nạp/ Refund</span></a>
</li>