@model OrderForMeProject.Models.Entities.Setting

@{
    ViewData["Title"] = "Edit";
}

<h4>Cấu hình</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SettingId" />
            <div class="form-group">
                <label class="control-label">Tên website</label>
                <input asp-for="SiteName" class="form-control" />
                <span asp-validation-for="SiteName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Số điện thoại</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tỷ giá USD</label>
                <input asp-for="Rate" class="form-control" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phí dịch vụ (%)</label>
                <input asp-for="FeeServices" class="form-control" />
                <span asp-validation-for="FeeServices" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Phí ship về Việt Nam</label>
                <input asp-for="FeeShippingToVn" class="form-control" />
                <span asp-validation-for="FeeShippingToVn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Quay lại danh sách</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
