@model IEnumerable<OrderForMeProject.Models.Entities.StateOrder>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create" class="btn btn-success">Tạo mới</a>
</p>

<!-- Basic table -->
<section id="basic-datatable">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <table class="dt-groupProduct table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nguồn mua</th>
                            <th></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <!-- Modal to add new record -->
    <div class="modal modal-slide-in fade" id="modals-slide-in">
        <div class="modal-dialog sidebar-sm">
            <form class="add-new-record modal-content pt-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <div class="modal-header mb-1">
                    <h5 class="modal-title" id="exampleModalLabel">New Record</h5>
                </div>
                <div class="modal-body flex-grow-1">
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-fullname">Full Name</label>
                        <input type="text" class="form-control dt-full-name" id="basic-icon-default-fullname" placeholder="John Doe" aria-label="John Doe" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-post">Post</label>
                        <input type="text" id="basic-icon-default-post" class="form-control dt-post" placeholder="Web Developer" aria-label="Web Developer" />
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-email">Email</label>
                        <input type="text" id="basic-icon-default-email" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" />
                        <small class="form-text text-muted"> You can use letters, numbers & periods </small>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="basic-icon-default-date">Joining Date</label>
                        <input type="text" class="form-control dt-date" id="basic-icon-default-date" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" />
                    </div>
                    <div class="form-group mb-4">
                        <label class="form-label" for="basic-icon-default-salary">Salary</label>
                        <input type="text" id="basic-icon-default-salary" class="form-control dt-salary" placeholder="$12000" aria-label="$12000" />
                    </div>
                    <button type="button" class="btn btn-primary data-submit mr-1">Submit</button>
                    <button type="reset" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</section>
<!--/ Basic table -->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <!-- BEGIN: Page Vendor JS-->
    <script src="/admin/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/datatables.bootstrap4.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/responsive.bootstrap4.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/datatables.checkboxes.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/datatables.buttons.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/jszip.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/pdfmake.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/vfs_fonts.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/buttons.html5.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/buttons.print.min.js"></script>
    <script src="/admin/app-assets/vendors/js/tables/datatable/dataTables.rowGroup.min.js"></script>
    <script src="/admin/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js"></script>
    <!-- END: Page Vendor JS-->
    <script>
        $.validator.addMethod("__dummy__", function (value, element) {
            return true;
        });
        $(document).ready(function () {
            //Init data
            var dataOrder =@Json.Serialize(Model);
            console.log(dataOrder)
            var dtProxy = $(".dt-groupProduct");
            if (dtProxy.length) {
                dtProxy.dataTable({
                    data: dataOrder,
                    columns: [
                        { data: 'stateOrderId' }, // used for sorting so will hide this column
                        { data: 'name' },
                    ],
                    columnDefs: [
                        {
                            targets: 1,
                            title: 'Trạng thái',
                            visible: true
                        },
                        {
                            // Actions
                            targets: 2,
                            title: 'Hành động',
                            orderable: false,
                            render: function (data, type, full, meta) {
                                return (
                                    '<div class="d-inline-flex">' +
                                    '<a class="pr-1 dropdown-toggle hide-arrow text-primary" data-toggle="dropdown">' +
                                    feather.icons['more-vertical'].toSvg({ class: 'font-small-4' }) +
                                    '</a>' +
                                    '<div class="dropdown-menu dropdown-menu-right">' +
                                    '<a href="/StateOrders/Delete/' + full["stateOrderId"] +'" class="dropdown-item delete-record">' +
                                    feather.icons['trash-2'].toSvg({ class: 'font-small-4 mr-50' }) +
                                    'Xoá</a>' +
                                    '</div>' +
                                    '</div>' +
                                    '<a href="/StateOrders/Edit/' + full["stateOrderId"] +'" title="Sửa" class="item-edit">' +
                                    feather.icons['edit'].toSvg({ class: 'font-small-4' }) +
                                    '</a>'
                                );
                            }
                        }
                    ],
                });
                $('div.head-label').html('<h6 class="mb-0">DataTable with Buttons</h6>');
            }

        });
    </script>
    <!-- END: Page JS-->
}
